@page "{id:int?}"
@model Smart_ECovid_IUT.Pages.Promotion.CréeModifPromotionModel
@using ClasseE_Covid.Utilisateur
@using ClasseE_Covid.Promotion
@using ClasseE_Covid.Campus

@{
//ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="border-bottom mb-4">
        <h1> Création Promotion</h1>
    </div>
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card mb-4">
                <div class="card-header border-bottom">
                    <h3>@(Model.ModifPromo != null ? "Modifer une Formation" : "Création une Formation")</h3>
                </div>
                <div class="card-body border-bottom">
                    <form method="post">
                        <div class="form-row">
                            <div class="col-md-4 mb-3">
                                <label for="Nom">Nom</label>
                                <input type="text" class="form-control" id="nom" name="nom" value="@Model?.Nom"  placeholder="nom" required/>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Nom">Année</label>
                                <input type="text" class="form-control" id="annee" name="annee" value="@Model?.Annee"  placeholder="2020" required />
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Batiment">Durée</label>
                                <input type="text" class="form-control" id="duree" name="duree" value="@Model?.Duree"  placeholder="2" required />

                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Batiment">Nom du Département</label>
                                <select class="form-control select" aria-hidden="true" id="departement" name="departement">
                                    <option value="@(Model?.idDepartement ?? 0)">@(Model.ModifPromo != null ? Model.Département : "--Selectionner Département--")</option>
                                    @{
                                        if (Model.DDBat != null)
                                        {
                                            @foreach (Campus bat in Model.DDBat)
                                            {
                                                <option value="@bat.IdBatiment">@bat.NomBatimen</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="Batiment">Prof principale</label>
                                <select class="form-control select" aria-hidden="true" id="prof" name="prof">
                                    <option value="@(Model?.idProf ?? 0)">@(Model.ModifPromo != null ? Model.NomProf : "--Selectionner Prof--")</option>
                                    @{
                                        if (Model.DDProf != null)
                                        {
                                            @foreach (Prof prof in Model.DDProf)
                                            {
                                                <option value="@prof.IdProf">@prof.NomProf @prof.PrenomProf</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit" asp-page-handler="EnvoieDonne">Ajouter</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>