@page
@model IndexModel
@using ClasseE_Covid.LogAlerte
@using ClasseE_Covid.Capteur;
@{
    ViewData["Title"] = "Home page";

}
<div>
    <div class="border-bottom mb-4">
        <h1> Tableau de Bord</h1>
    </div>
    <div class="row">
        <div class="row col-md-12">
            <div class="col-md-12 mb-4">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3><a asp-page="/LogAlerte/AfficheLogAlerte">Log alerte</a></h3>
                    </div>
                    <div class="card-body border-bottom row">
                        <div class="col-6">
                            <h5>Cas Covid-19</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Promotion</th>
                                            <th scope="col">Nombre cas covid</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (ClasseE_Covid.LogAlerte.LogAlerte logAlerte in Model.Branches)
                                        {
                                            <tr>
                                                <td>@logAlerte.PromoCasCovid</td>
                                                <td>@logAlerte.NbCasCovid</td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <h5>dépasse Co2</h5>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Nombre de depassement</th>
                                            @*<th scope="col">Nombre cas covid</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@(Model.ListCo2 != null ? Model.cntCo2.Count() : 0 ) </td>
                                            @*<td>@co2.NbCasCovid</td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header border-bottom">
                    <h3><a asp-page="/Capteur/AfficheCapteur">Capteur</a></h3>
                </div>
                <div class="card-body border-bottom">
                    <h5>capteur</h5>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nom capteur</th>
                                    <th scope="col">Nombre de capteur</th>
                                    @*<th scope="col">Nombre cas covid</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> Co2 </td>
                                    <td>@(Model.ListCo2 != null ? Model.ListCo2.Count() : 0 ) </td>
                                    @*<td>@co2.NbCasCovid</td>*@
                                </tr>
                                <tr>
                                    <td> Température </td>
                                    <td>@(Model.ListTemp != null ? Model.ListTemp.Count() : 0 ) </td>
                                    @*<td>@co2.NbCasCovid</td>*@
                                </tr>
                                <tr>
                                    <td> Occupation </td>
                                    <td>@(Model.ListOccu != null ? Model.ListOccu.Count() : 0 ) </td>
                                    @*<td>@co2.NbCasCovid</td>*@
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-6">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h3><a asp-page="/LogEtatPlateforme/AfficherLogEtatPlateforme">Log Etat plateforme</a></h3>
                    </div>
                    <div class="card-body border-bottom">
                        <h5>Alert capteur</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
